.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 99
    display: flex
    flex-wrap: wrap
    &__topbar
        background-color: $cor01 
        width: 100%
        transition: all .3s
        
        @media(max-width : 991px)
            order: 1
        &-container
            max-width: 1330px
            padding: 0 15px
            width: 100%
            margin: 0 auto
            display: flex
            align-items: center
            justify-content: space-between
            min-height 60px

            @media(max-width : 1249px)
                justify-content: flex-end

            ul
                display flex
                align-items: center

                li
                    margin 0 3px

                span
                    font-size: 13px
                    color: #fffbfc
                    margin-right: 10px

            ul.telefone__mid 
                li 
                    color: #fff
                    font-size: 13px
                    font-weight: 600
                    display: flex
                    align-items: center

                    img
                        margin-right 5px

                    &:last-child
                        &:before
                            content: '|'
                            margin 0 10px 0 5px
                            font-weight 300

            .links__topbar
                li
                    &:last-child
                        &:before
                            content: '|'
                            margin 0 10px 0 5px
                            font-weight 300
                            color: #fff
                    a
                        font-size 13px
                        color: #fff

        &-list
            padding-left: 220px
            display: flex
            align-items: center
            justify-content: space-between
            @media(max-width : 1249px)
                max-width: 55%
                padding: 0
            @media(max-width : 991px)
                max-width: 100%
                padding: 0 30px
        .slick-prev
            left 0
            width: 30px
            height 30px
        .slick-next
            right 0
            width: 30px
            height 30px
        &-item
            padding-right: 35px
            font-size: 12px
            line-height: 15px
            font-weight: 800
            color: #FFFFFF
            display: flex!important
            align-items: center
            @media(max-width : 1300px)
                padding-right: 15px
            @media(max-width : 1249px)
                justify-content: center
            @media(max-width : 991px)
                padding: 0
            &--two
                @media(max-width : 991px)
                    font-size: 0px
                    &:after
                        content: '25 anos no mercado'
                        font-size: 12px

        &-phones
            display: flex
            align-items: center
            justify-content: space-between
            @media(max-width : 991px)
                display: none
        &-phone
            font-size: 12px
            color: #FFFFFF
            line-height: 15px
            display: flex
            align-items: center

            @media(max-width 991px)
                color: #333
                font-weight: 600
            &--one
                padding-right: 20px
    &__mainbar
        background: $cor02
        position: relative
        z-index: 1
        width: 100%
        border: 1px dashed #464646
        
 
        &-container
            max-width: 1330px
            padding: 0 15px
            width: 100%
            margin: 0 auto
            
        &-wrapper
            display: flex
            align-items: center
            justify-content: space-between
            min-height: 100px
            @media(max-width : 991px)
                flex-wrap: wrap
        &-mobile
            display: none
            @media(max-width : 991px)
                display: block
                width: 27px
                height 22px
        &-logo
            position: relative
            display: flex
            align-items: center

            @media(max-width : 991px)
                width: 138px
                min-width: 138px
                height: 50px
                margin: 0
  
            img 
                display: block
                width: auto
                margin: 0
                padding: 0
                max-width: none
                @media(max-width : 991px)
                    height 80px
        &-serach
            max-width: 280px
            width: 100%
            position relative
            @media(max-width : 991px)
                max-width: 100%
                order 1
                padding-bottom: 11px
                padding-top: 31px
                transition: all .3s
            .headerSearch
                width: 100%
                float: none
                margin: 0
                opacity: 1
                visibility: visible

            input.inputSearch 
                font-size: 13px
                color: #666666 

                &::placeholder
                    font-size: 13px
                    color: #666666

            button#btnBusca.btSearch
                position absolute
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAAolBMVEUAAAAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyApQp+MAAAANnRSTlMAE4DR+P3jnjJN772Hfqb+jgPNLA+V/50KhFYC0tZpJUopUTerBUPx7AtqNCpTrPCIDZcBk+2vVtspAAAAnElEQVR42l2M1w6DMBAETTEQYzocoQUS0nv9/1+LS4ylzMPuaaRbxDBMy8aO6yHFjGCfBiGJ4uQncJrxzgsohTBIOkeSCmpeJs7Ue9N2vCwfTSygZ2lTbTwYWOJAm6UYckJtVjCydEk+mTXZ8N+oUGILcjOGqpFitz+IIymhPZ7Olyvc4I4kdQcMQh/PSaF+qEc2+pJKIxT9V+/PFx1QCwGxbrgwAAAAAElFTkSuQmCC')
                background-repeat: no-repeat
                background-position: center

                &:hover
                    color: #ffffff
                .icon.isearch
                    display: none
        &-account, &-order, &-contact
            border-right: 1px solid #D8D8D8
            padding: 12px 20px
            @media(max-width : 991px)
                display: none
            a
                color: #373535
                font-size: 12px
                text-transform: uppercase
                font-weight: 600
                white-space: nowrap
                border-bottom: 1px solid transparent
                &:hover
                    border-bottom: 1px solid #fff115

        &-right
            display: flex
            align-items: center
            justify-content: space-between
            max-width: 240px
            width 100%
            position relative

        &-links
            display: flex 
            align-items: center

            &:after
                content: ''
                color: #fff
                position: absolute
                border-right: 1px dashed #464646
                width: 1px
                height 50px
                left 70% 

                @media(max-width 991px)
                    display none

            img
                margin-right 10px

            span
                font-size 13px
                color: #ffffff
                display: block

                a
                    display block
                    color: $cor01
                    text-decoration: underline
                    font-weight: 600
            
        &-cart
            padding-left: 10px
            @media(max-width : 991px)
                padding: 0
            .carrinho.carrinhoHead
                float: none
                width: 42px
                position relative
                a
                    float none
                    display: flex!important
                    align-items: center
                .icon.icart
                    display: none
                .minicart-txt-itens
                    display: none
                .minicart-qtde-itens
                    width: 22px
                    height 22px
                    background: $cor01
                    display: flex
                    align-items: center
                    justify-content: center
                    padding: 0
                    border-radius: 50%
                    color: $cor02
                    font-size: 11px
                    font-weight: 800
                    float: none
                    position: absolute
                    right: -8px
                    top: 0
                    &:before, &:after
                        display: none