$cor01 = #f95a6c
$cor02 = #333333 // Cinza

$cor03 = #00a698 // Vermelho
$cor04 = #fff501 // Amarelo
$cor05 = #fff9ea
$cor06 = #f8b605

//Buton
// $button
//     box-shadow: 0 2px 3px rgba(0,0,0,0.1)

//Container
$container
    max-width: 1190px 
    width: calc(100% - 30px)
    margin: 0 auto 


$transition = all 150ms ease-in-out

 