.circle
    &__wrapper
        display: flex
        justify-content: space-between
        margin 30px 0
        a
            display: flex
            flex-wrap: wrap
            justify-content: center
            figure,
            h3,
            span
                flex: 1 1 100%
                text-align center
            figure  
                margin-bottom 20px
            h3
                font-size: 17px
                font-weight: 800
                color: $cor02
            span 
                font-size: 16px
                font-weight: 800
                color: $cor01
                text-decoration underline