.showcase
    padding-top: 60px
    @media(max-width : 991px)
        padding: 0
    @media(max-width : 599px)
        padding-bottom: 55px
    &__container
        max-width: 1330px
        padding: 0 15px
        width: 100%
        margin: 0 auto
    &__title
        font-size: 25px
        color: $cor02
        line-height: 27px
        text-align: center
        text-transform: none
        font-weight: 800
        display flex
        align-items: center
        justify-content: center
        margin-bottom: 30px
        padding-bottom 10px
        border-bottom 1px dashed #ccc
        position relative

        &:after
            content: ''
            height 5px
            background $cor01
            width: 5%
            position: absolute
            bottom: 0

    &__list
        .spot
            width: 100%
            max-width: 260px
            float: none
            margin: 0 auto
            padding: 0   
            border none
            @media(max-width : 991px)
                padding: 5px
            &:hover 
                .botoesSpot
                    opacity 1
                    visibility: visible
        .spot__request
            .spotPreco, .botoesSpot
                *
                    opacity 0
                    visibility hidden
            .spotPreco:before
                content: 'Preço sob consulta'
                display: block
                text-align: center
                border: 1px solid #CBCBCB
                font-size: 12px
                line-height: 24px
                color: #373535
                font-weight: bold
                height 24px
                max-width: 124px
                margin: 0 auto
                margin-top: 3px

        .etiquetas-spot
            top: 10px
            left -15px
            @media(max-width : 991px)
                left 0px
        .fbits-etiqueta-off
            background: #FF5D5D
            height 30px
            font-size: 12px
            color: #ffffff
            font-weight: 900
            line-height: 30px
            width: 60px
        .fbits-etiqueta-fretegratis
            height 20px
            background: #4AC87A
            width: 80px
            font-size: 10px
            color: #ffffff
            font-weight: 800
            line-height: 20px
            height 20px!important
            width: auto!important
            border-radius: 0

            &:before
                content: 'FRETE GRÁTIS'
                font-size: 10px
            img
                display: none!important
        .fbits-spot-conteudo
            height auto
            padding-bottom: 15px 

        .spotPreco
            margin-top: 5px
        .precoDe
            font-size: 12px
            color: #ADADAD
            font-weight: bold
            line-height: 15px
            margin-bottom: 2px
        .precoParcela
            display: none
        .precoPor
            font-size: 20px
            color: $cor01
            font-weight: 800
            line-height: 23px
            &:before
                display: none
        .fbits-spot-preco-boleto-container
            font-size: 14px
            color: $cor02
            line-height: 18px
            font-weight: 600
            .fbits-spot-boleto-ou
                margin-right: 3px
                &:before
                    content: 'ou'
            .fbits-spot-boleto-off
                margin-left: 3px
                &:before
                    content: 'no boleto'
            .fbits-spot-boleto-valor
                font-size: 14px
                color: $cor02
                font-weight: 700
                line-height: 17px
        .spotImg
            img 
                width: auto!important
                max-width: 100%
                margin: 0 auto
                display: block
        .spotTitle
            font-size: 14px
            color: $cor02
            font-weight: 600
            line-height: 16px
            text-align: center
            text-transform: none
            height 50px
            overflow hidden
        .botoesSpot
            display: block
            opacity 0
            visibility: hidden
            height 40px
            overflow hidden
            @media(max-width : 991px)
                display: none
            &--spotIndisponivel
                height: auto
                padding: 10px 0
                font-size: 0.75rem
                color: #434343
                font-weight: bold
                line-height: 0.94rem
                text-align: center
                text-transform: uppercase
                input 
                    color: #434343
                    &#btnEnviarAviseMe
                        border: 1px solid #ddd
                        background: #ddd
                        height 2.5rem
                        cursor: pointer
                        transition: all .3s
                        &:hover
                            background: #ffffff
            

    .slick-next
        @media(max-width : 1360px)
            right 0
        @media(max-width : 991px) 
            top: 30%
    .slick-prev
        @media(max-width : 1360px)
            left 0
        @media(max-width : 991px) 
            top: 30%
    
    .slick-dots
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        li
            width: 10px
            height: 10px
            background: #E7E7E7
        .slick-active
            width: 14px
            height: 14px
            background: #FFF115


.spot .bt.comprar
    color: #fff
    background: $cor02
    font-size: 0 
    line-height: 40px!important
    text-align: center
    font-weight: 500
    height 40px!important
    float: none
    transition: all .3s
    width: 100%!important
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAUCAMAAAC3SZ14AAABDlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8v3yHCAAAAWnRSTlMAQMb99aUYPvqxUGPb2g3DtwEX8XH3s6YJIP90uh68a92RMH6/0ov2YR8DywxJj+8/mbsmMTmD1TsZautW/gRTBek6G4XTJDWbuQpKtaNlinrlc8WVkKqpwG0I50RoAAAAvElEQVQYGQXBMUoDYRQGwPn+fbuboJWICBYWoqBoK9hZeQVv6gFs04tVUqR3ITaiZONMgCRJfkHAmCRJdlBgkUxOEtDA8Dfx1XUgzkMyo7NXW82QxCFJ5jnZXyptjJ/lAc2sizLm8/bHmrs4fJxN2v13r3eMYZoGFw/aaDQejVi3ttb3qtdbgd0OFa2uegDoN89tW+8A0OnqOgCgVFUAQKmqAIC36tqmAQDLVjcBAF6SxekTAFg95jUAgPwDLCclWPh/hxYAAAAASUVORK5CYII=')!important
    background-repeat: no-repeat
    background-position: 95%

    &:before
        content: 'Quero este!'
        font-size: 15px 
        text-transform : uppercase
        font-family 'Montserrat'
        letter-spacing: 1px 
        margin 0
 
 

.spot .spotContent a
    text-decoration none

span[id^="fbits-grupo"], .fbits-componente-ofertasPorDepartamento, .row-vitrine-home.estatico.custom-list .center
    display block!important

.showcase__list.not-carousel
 > span 
    display: flex!important
    flex-wrap: wrap
    justify-content: space-between
    align-items: center

    .showcase__item
        width 25%
        margin-bottom 20px

        @media(max-width: 991px)
            width 50%

section.showcase.instagram
 
    h1
        &:before 
            content: ''
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAXCAMAAAA4Nk+sAAAAUVBMVEUAAADvOFDvOVHvMFDtOlLuOlLuOlPvOlDuOVLuOVLuOVLuOlLuOlPvOFLvOVLvOVPuOlPvOFTuOVPvOFPuOVPtOVPtOlLtOVPuOVPtOVLvOlJySMVuAAAAG3RSTlMAID8Qn+//MN/gwNDPYHBQsECvX/CggJC/j3+wTu5FAAAAxklEQVR4AV3PW3KsMAyE4dYRtC+MzZhjLsn+FxqVyVB2vrf+H1QlNPLvIfil08zOPCmM82SIj0B6Z3lhFHQk8gUkBkUnrxqY8GYaKimJb0QWwKRtnrf/cHVBYUSlWtSNzdYGCRJmZ02qqXKC+WRhFRiplC4fPNGcPIac0eQxt2WOIRd6hVHP0mUsvASQiwv6LIF8XWSQO3++1J1mV5jCaHnFrRTcVsuZF/6IzNDKLwxOVgVW0k/fj8nzPusWDoLDzaXjkVv8Af4eCx7xPwg2AAAAAElFTkSuQmCC')
            display: block
            width: 30px
            height: 24px
            background-repeat: no-repeat
            @media(max-width: 991px)
                display none
            
        strong  
            color $cor01
            font-weight: 800

            &:before
                content: '@'
                

